.nav_wrap {
    padding: 20px;
    display: flex;
}

.nav{
    margin: auto;
    padding-left: 5px;
}
.link{
    color: white;
    margin: 1em;
}
.link-active{
    margin: 1em;
}

.nav_button{
    position: fixed;
    /* margin-top: 15px;  */
    right: 5%;
    offset-position: top 15px;
}
span {
    color: white;
    margin-right: 15%;
}