.sign-up {
    color: white;
    height: 100vh;
    /* background: fixed; */
    background-image: url("https://wallpapercave.com/uwp/uwp2215758.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.form {
    margin-top: 30%;
}

.h1{
    margin-top: 20%;
    margin-bottom: 10%;
}